.editorPage{
    color: white;
   background-color:#1C1B26;
    display: flex;
    height: 100vh;

    .leftWrapper{
        position: relative;
        flex: 1;
        background-color:#232432 ;
        
        
        .logo-container{
            
            margin: 10px;
            border-bottom: 1px solid rgba(74, 73, 73, 0.783);
            
            img{
                width: 200px;    
            }
            
        }
        h4{
            color: white;
            margin-left: 13px;
            font-size: 14px; 
        }

        .clientList{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }
        .bottom{
            margin-bottom: 10px;
            bottom: 0;
            width: 100%;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            button{
                font-weight: bold;
                margin: 5px;
                width: 70%;
                padding:  5px 3px;
                outline: none;
                border: none;
                color: white;
                border-radius: 5px;
                cursor: pointer;
                box-shadow: 3px 2px 22px 0px rgba(0,0,0,0.43);
                -webkit-box-shadow: 3px 2px 22px 0px rgba(0,0,0,0.43);
                -moz-box-shadow: 3px 2px 22px 0px rgba(0,0,0,0.43);
                transition: ease-in-out 0.3s;

                &:hover{
                    transform: scale(1.09);
                }
            }
            .copyId{
                background-color: #40E97E;
                &:hover{
                    background-color: #31b862;
                }
            }
            .leave{
                background-color: red;
                &:hover{
                    background-color: rgb(191, 8, 8);
                }
            }
        }
        
    }
    .rightWrapper{
        flex: 7;
    }
}